<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sửa danh mục</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('../partials/header') %>

        <div class="container mt-5">
            <h2>Sửa danh mục</h2>
            <form action="/categories/<%= category._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="name">Tên danh mục</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%= category.name %>" required>
                </div>
                <button type="submit" class="btn btn-primary">Cập nhật danh mục</button>
            </form>
        </div>

        <%- include('../partials/footer') %>
</body>

</html>